.content{
    background: none;
}

.content-list{
    list-style: none;
    display: flex;
    align-content: center;
    height: 25px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: 390px;

}

a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
    text-transform: uppercase;
    display: flex;
    margin: 15px;
    cursor: pointer;    

    
}

a:hover{
    color: orange;
    text-decoration: underline;
}

